# User Account Creation and KYC Verification

### Birake Account Creation Process

* Head over to  [<mark style="color:blue;">https://trade.birake.com/</mark>](https://trade.birake.com/)
* Click on "**Create Account / Login**" from the top menu bar.&#x20;

You will be redirected to the account creation page where you will have to fill out the form with:

1. Your desired Account Name
2. Email address
3. The password is already generated. You just have to copy and paste it into the "**Confirm password**" field.
4. Select the three checkboxes to confirm you agree to the terms. Then click on the "**Create an accoun**t" button to complete the registration process.

<figure><img src="../../../.gitbook/assets/sign up.PNG" alt=""><figcaption></figcaption></figure>

We advise you to keep your password safe to avoid any difficulties accessing your account. Please store your password securely.

### Birake KYC Verification Process

After successfully creating an account, it will be necessary to verify it with an identity document. This will enable you to deposit and withdraw funds.

* Click on the profile icon at the top right corner of the screen and choose "**Verification**" from the list.

<figure><img src="../../../.gitbook/assets/dashboard.PNG" alt=""><figcaption></figcaption></figure>

* Existing users are also required to undergo a new KYC process with the new provider. Please click on the '**RESEND**' button, and an email will be sent containing a link to complete the KYC process.

<figure><img src="../../../.gitbook/assets/old user.PNG" alt=""><figcaption></figcaption></figure>

* To continue verification, follow the email by clicking on the red verification button. \
  Note that this notification is always sent to the email address you used when you first registered your account on Birake Exchange.

<figure><img src="../../../.gitbook/assets/KYC_email.jpg" alt=""><figcaption></figcaption></figure>

The KYC process verification requires a smartphone, so the necessary information will be introduced.\
\
If you are already following the previous instructions on this type of device, please ignore the next 2 points related to the phone number and you can jump directly to the privacy policy agreement.\
\
On the other hand, if you are doing this from any type of computer, please follow the phone number verification to continue your KYC session on the smartphone.

* To initiate the KYC process, you will be required to verify your phone number.

<figure><img src="../../../.gitbook/assets/mobile verificatio.PNG" alt=""><figcaption></figcaption></figure>

* Following that, you will receive an SMS on the provided phone number containing the KYC link. Ensure that you complete the process directly on your phone, as copying and pasting the link into your browser may not work.

<div align="center">

<figure><img src="../../../.gitbook/assets/sms kyc.jpg" alt="" width="432"><figcaption></figcaption></figure>

</div>

* On the subsequent page, please agree to the privacy consent and click on **'Continue.**'

<div align="center">

<figure><img src="../../../.gitbook/assets/privacy consent.jpg" alt="" width="375"><figcaption></figcaption></figure>

</div>

* Select the '**Capture my ID**' button to photograph the front page of your National ID card.

<div align="center">

<figure><img src="../../../.gitbook/assets/ID front.jpg" alt="" width="375"><figcaption></figcaption></figure>

</div>

* Repeat the process for the back of your ID card by clicking on the **'Capture my ID**' button.

<figure><img src="../../../.gitbook/assets/ID back.jpg" alt="" width="375"><figcaption></figcaption></figure>

* After the ID verification, you will have the opportunity to review your ID details. While most fields will be automatically generated, it is crucial to verify their accuracy. If any information is incorrect, you will be able to make the necessary changes.
* Check the checkbox to confirm your agreement with the consent policy once again. When you are certain that your details are accurate, click on the "**My details are correct**" button.

<div data-full-width="false">

<figure><img src="../../../.gitbook/assets/KYC_review.jpg" alt="" width="375"><figcaption></figcaption></figure>

</div>

* Next, you will be required to finalize the face verification process by recording a selfie video.

<figure><img src="../../../.gitbook/assets/selfie.jpg" alt="" width="375"><figcaption></figcaption></figure>

* Once you have finished the KYC process, you will be notified with a success message confirming your verification.

<figure><img src="../../../.gitbook/assets/KYC success.jpg" alt="" width="375"><figcaption></figcaption></figure>

Accounts are usually verified within 2 - 3 mins. When your account is verified you will be able to make deposit and withdrawal.

<figure><img src="../../../.gitbook/assets/KYC_done_final.jpg" alt=""><figcaption></figcaption></figure>
